KNOWLEDGE_GRAPH_PATH="./examples/data/data.ttl"
ONTOLOGIES_PATH="./examples/ontologies/ontology.ttl"
KNOWLEDGE_GRAPH_URI ="https://imaging-plaza.epfl.ch/finalGraph"
ONTOLOGY_URI ="https://imaging-plaza.epfl.ch/ontology#"