# This Git ignore file should be treated WITH care.
#
# Keep it easy to understand and concise that means follow these rules:
#
# - Add stuff when needed, DO not copy stuff from the internet
#   just to ignore a whole set of files you think
#   might be needed in the future.
#
# - Do NOT add here ignores which are deeply nested in the
#   repository structure, instead
#   use deidcated local `.gitignore` files inside the directories to
#   ignore what you need. This file should ONLY deal common top-level
#   ignores and things you want to ignore.

# Direnv cache folder.
.direnv
# Devenv cache folder.
.devenv

# General output folder.
.output
# Virtual environment.
.venv
# Ruff cache folder.
.ruff_cache

# Config files which are linked.
.prettierrc.yaml
.yamllint.yaml
.typos.toml
